.input-style {
    /* Gaya umum untuk input */
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .checkbox-style {
    /* Gaya umum untuk checkbox */
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  
  .button-style {
    /* Gaya umum untuk tombol */
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: rgba(166, 33, 16, 1);
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 3rem;
  }
  
  .button-style:hover {
    background-color: rgba(166, 33, 16, 0.8);
  }
  
  /* Media Query untuk Tampilan Mobile */
  @media screen and (max-width: 768px) {
    .bg-white {
      padding: 1rem;
    }
  }
  