.card {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 27rem;
}

.card-header {
  font-weight: bold;
}

.card-body h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-body {
  color: #4a5568;
}

.card2 {
  margin-left: 10px;
  margin-right: 5px;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.bright-color {
  background-color: #00ff00;
}

.dark-color {
  background-color: rgb(223, 23, 23);
}

.barbar {
  position: relative;
  bottom: 0;
}

.card2 {
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  min-height: 50px;
}

.card2:hover {
  background-color: #f0f0f0;
}

.card2:empty::before {
  content: "Click to add content";
  color: #999;
}

.clicked {
  box-shadow: 0 0 2px 2px #3fbf3f;
}

@media only screen and (max-width: 768px) {
  .card {
    padding: 0.5rem;
  }

  .card-body p {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .card,
  .card2 {
    margin: 0 5px 10px;
  }

  .card-body h3 {
    font-size: 1rem;
  }
}
