/* Sidebar CSS */
.sidebar {
  width: 250px;
  background-color: rgba(255, 222, 218, 1);
  box-shadow: 5px 4px 15px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  overflow-y: auto;
  height: 100vh;
  transition: transform 0.3s ease; 
  transform: translateX(0);
}

.sidebar.open {
  transform: translateX(-250px); 
}

.toggle-btn {
  padding: 15px;
  color: rgba(166, 33, 16, 1);
  ; 
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  position: absolute; 
  left: 12.4rem;
}

.Sidebar-btn {
  padding: 15px;
  color: rgba(166, 33, 16, 1);
  ; 
  cursor: pointer;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  position: absolute; 
  left: 1rem;
}


.sidebar-content {
    padding: 5px;
    margin-top: 40%;
}


.sidebar-fill {
  width: 50%; 
  margin-right: 10px;
  margin-left: 25px;
}

.btn-sidebar {
  padding: 5px 140px 5px 5px;
  background: rgba(166, 33, 16, 1); 
  color: white;  
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
  margin-top: 4rem;
  margin-left: 8px;
}

.btn-sidebar2 {
  padding: 5px 80px 5px 5px;
  background: rgba(166, 33, 16, 1); 
  color: white; 
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins;
  margin-left: 8px;
}


.btn-sidebar:hover  {
  background: rgba(166, 33, 16, 0.8); 
}

.btn-sidebar2:hover  {
  background: rgba(166, 33, 16, 0.8); 
}

@media screen and (max-width: 426px) {
  .sidebar {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar-content {
    padding-top: 20px;
    padding-left: 10%; 
  }
}


@media screen and (max-width: 768px) {
  
  .toggle-btn {
    left: 10px; 
    top: 10px; 
  }

  .Sidebar-btn {
    left: 10px;
    top: 20px; 
  }
}


