.header {
    background-color: rgba(166, 33, 16, 1);
    ;
    color:rgba(166, 33, 16, 1);
    padding: 5px;
    text-align: center;
  }

  .logo {
    width: 100px; /* Sesuaikan lebar dengan yang diinginkan */
    height: auto; /* Tinggi akan disesuaikan secara otomatis agar tidak terdistorsi */
  }
  