/* App.css */
.app {
  display: flex;
}

.content {
  flex: 1;
  transition: margin-left 0.3s;
}

.content-sidebar-closed {
  margin-left: -250px;
}

@media only screen and (max-width: 426px) {
  .app {
    flex-direction: column-reverse;
  }

  .content {
    padding: 5px;
  }
}
