.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

.popup-inner p {
  margin-bottom: 10px;
}


.popup-inner button {
  padding: 4px 15px;
  background-color: rgba(166, 33, 16, 1);
  ; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 7rem;
  margin-top: 10px;
}
