
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 50px 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }
  
  .popup-content p {
    margin-top: 0;
  }
  
  .popup-content p {
    margin-bottom: 25px;
    color: rgba(166, 33, 16, 1);
    
  }
  
  .popup-content button {
    padding: 4px 15px;
    background-color: rgba(166, 33, 16, 1);
    ; /* Warna background tombol */
    color: white; /* Warna teks tombol */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1.5rem;
  }
  
  .popup-content button:hover {
    background-color: rgba(166, 33, 16, 0.9);
    ; /* Warna latar belakang tombol saat hover */
  }

  .img-container {
    position: relative; 
  }
  
  .img-container img {
    position: absolute; 
    animation: checkAnimation 0.3s forwards; 
  }
  
  @keyframes checkAnimation {
    0% { transform: scale(0); } 
    100% { transform: scale(1); } 
  }
  

  